In [1]:
import pandas as pd

In [2]:
DATA_FOLDER = '../../data/'

In [3]:
organizations_df = pd.read_parquet(f'{DATA_FOLDER}organizations.parquet')

In [4]:
organizations_df

                              organization
0                   Biomedical Informatics
1                      Shandong University
2                       Tianjin University
3                      Tsinghua University
4             City University of Hong Kong
..                                     ...
105                         Data Scientist
106                             Amazon.com
107  Biostatistics, University of Michigan
108        Computer Science and Engineeing
109                      Monash University

[110 rows x 1 columns]

# Lookup and store geolocations

In [5]:
import geopandas as gpd
import folium
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="lncRNA-map")

# https://geopy.readthedocs.io/en/stable/#geopy.geocoders.options.default_timeout
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=2)

In [6]:
from tqdm import tqdm

In [7]:
tqdm.pandas()
organizations_df['location'] = organizations_df['organization'].progress_apply(geocode)

100%|█████████████████████████████████████████| 110/110 [03:38<00:00,  1.98s/it]

In [8]:
#organizations_df.to_pickle(f'{DATA_FOLDER}organizations_with_location.pickle')

In [9]:
organizations_df

,organization,location
0,Biomedical Informatics,"(Health & Biomedical Informatics Centre, 202-2..."
1,Shandong University,"(山东大学（青岛校区）, 72, 滨海公路, 青岛蓝谷高新技术产业开发区, 即墨区, 青岛市..."
2,Tianjin University,"(天津医科大学, 22号, 气象台路, 新兴街道, 天津市, 和平区, 天津市, 30005..."
3,Tsinghua University,"(清华大学, 30, 双清路, 东升镇, 海淀区, 北京市, 100084, 中国, (40..."
4,City University of Hong Kong,"(香港城市大學 City University of Hong Kong, 沙田區 Sha ..."
...,...,...
105,Data Scientist,None
106,Amazon.com,"(Amazon.com Doppler, 2021, 7th Avenue, Central..."
107,"Biostatistics, University of Michigan",None
108,Computer Science and Engineeing,None
109,Monash University,"(Monash University, Mile Lane, International H..."